<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="img/icon.png" />
  <title>Ian Chu Te's Website</title>

  <!-- styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/simplex/bootstrap.min.css" integrity="sha256-TKhQCpupjJ8Jh7dgjeNgBsEPk1eai3l57eH/w4h48ys="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0="
    crossorigin="anonymous" /> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.1/themes/prism.min.css" integrity="sha256-DJJDQyzflMYiUb2jX3gilm9m3gAkHPC4WLv9BAk4rTE=" crossorigin="anonymous" />
  {% style "/css/screen.css" %} 
  {% style "/css/site.css" %} 
  {% style "/css/notebook.css" %}

</head>

<body>
  <div id="precontent" class="hidden-xs">
    {% block precontent %} {% endblock %}
  </div>

  <div class="container hidden-xs" id="content">
    {% block content %} {% endblock %}

    <div class="credits">
      <div>Icons made by
        <a href="http://www.freepik.com" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
          target="_blank">CC 3.0 BY</a>
      </div>
    </div>

  </div>

  <div id="postcontent" class="visible-xs">
    {% block postcontent %} {% endblock %}
  </div>

  <div class="visible-xs">
    <img src="img/icon.png" class="mobile-logo">
    <h3 class="mobile-text">This website does not support mobile</h3>
  </div>

  <!-- scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha256-gL1ibrbVcRIHKlCO5OXOPC/lZz/gpdApgQAzskqqXp8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8="
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    var context = "{{servlet-context}}";
  </script> {% block page-scripts %} {% endblock %}



</body>

</html>